In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('train.csv',encoding = 'ISO-8859-1')
data.head()

,Unnamed: 0,AK,AL,AR,AZ,CA,CO,CT,DC,DE,...,FULL_TIME_POSITION,total_wage,CASE_STATUS,CASE_DURATION,EMPLOYMENT_DURATION,EMPLOYER_APPLICATION_COUNT,EMPLOYER_CERTIFIED_RATE,EMPLOYER_CERTIFIED-WITHDRAWN_RATE,EMPLOYER_DENIED_RATE,EMPLOYER_WITHDRAWN_RATE
0,1336192,0,0,0,0,0,0,0,0,0,...,1,74963.0,CERTIFIED,4,1094.0,36828,0.978386,0.000244,0.011703,0.009667
1,1265192,0,0,0,0,1,0,0,0,0,...,1,101650.0,CERTIFIED,6,1095.0,138,0.847826,0.130435,0.007246,0.014493
2,2347539,0,0,0,0,0,0,0,0,0,...,1,92160000.0,CERTIFIED,6,1095.0,5,1.000000,0.000000,0.000000,0.000000
3,1801546,0,0,0,0,0,0,0,1,0,...,1,72000.0,CERTIFIED,6,1096.0,11,0.636364,0.090909,0.181818,0.090909
4,2401379,0,0,0,0,0,0,0,0,0,...,1,63336.0,CERTIFIED,4,1095.0,3,1.000000,0.000000,0.000000,0.000000

In [3]:
X_tr = data.drop(['CASE_STATUS','EMPLOYER_NAME', 'EMPLOYER_CERTIFIED_RATE', 'EMPLOYER_CERTIFIED-WITHDRAWN_RATE',
       'EMPLOYER_DENIED_RATE', 'EMPLOYER_WITHDRAWN_RATE'],axis=1)
Y_tr = data['CASE_STATUS']

In [4]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(max_depth=2)
tree.fit(X_tr, Y_tr)

DecisionTreeClassifier(max_depth=2)

In [5]:
# from sklearn.model_selection import cross_val_score
# cross_val_score(tree, X_tr, Y_tr,
#                 scoring="accuracy", 
#                 cv=5).mean()

In [6]:
data_test = pd.read_csv('test.csv',encoding = 'ISO-8859-1')
data_test.head()

,Unnamed: 0,AK,AL,AR,AZ,CA,CO,CT,DC,DE,...,FULL_TIME_POSITION,total_wage,CASE_STATUS,CASE_DURATION,EMPLOYMENT_DURATION,EMPLOYER_APPLICATION_COUNT,EMPLOYER_CERTIFIED_RATE,EMPLOYER_CERTIFIED-WITHDRAWN_RATE,EMPLOYER_DENIED_RATE,EMPLOYER_WITHDRAWN_RATE
0,309712,0,0,0,0,0,0,0,0,0,...,1,55640.0,CERTIFIED,6,1096.0,112,0.946429,0.000000,0.000000,0.053571
1,1051806,0,0,0,0,0,0,0,0,0,...,0,60986.0,CERTIFIED,6,1094.0,24,0.875000,0.083333,0.000000,0.041667
2,1163460,0,0,0,0,0,0,0,0,0,...,0,71219.0,CERTIFIED,6,1095.0,842,0.769596,0.142518,0.013064,0.074822
3,2119101,0,0,0,0,0,0,0,0,0,...,1,61568.0,CERTIFIED,4,696.0,55092,0.993175,0.001089,0.001579,0.004157
4,2192282,0,0,0,0,0,0,0,0,0,...,1,81000.0,CERTIFIED,5,1078.0,146,0.986301,0.000000,0.000000,0.013699

In [7]:
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

In [8]:
X_test = data_test.drop(['CASE_STATUS','EMPLOYER_NAME', 'EMPLOYER_CERTIFIED_RATE', 'EMPLOYER_CERTIFIED-WITHDRAWN_RATE',
       'EMPLOYER_DENIED_RATE', 'EMPLOYER_WITHDRAWN_RATE'],axis=1)
y_pred = tree.predict(X_test)

In [9]:
y_test = data_test['CASE_STATUS']
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9711634413871554

In [10]:
from sklearn.metrics import recall_score, precision_score

In [11]:
precision_score(y_test, y_pred, average='weighted')

0.9562145411672373

In [12]:
recall_score(y_test, y_pred, average='weighted')

0.9711634413871554